In [1]:
#Actors and Directors Who Cooperated At Least Three Times
# Write your MySQL query statement below
SELECT
    actor_id,
    director_id
FROM
    ActorDirector
GROUP BY
    actor_id,
    director_id
HAVING
    COUNT(timestamp)>=3

IndentationError: unexpected indent (ipython-input-849824710.py, line 3)

In [2]:
#Fix Names in a Table
SELECT
    user_id,
    -- CONCAT joins the two parts:
    CONCAT(

        UCASE(SUBSTRING(name, 1, 1))
        LCASE(SUBSTRING(name, 2))
    ) AS name
FROM
    Users
ORDER BY
    user_id;

IndentationError: unexpected indent (ipython-input-3037854526.py, line 2)

In [ ]:
#Combine Two Tables
# Write your MySQL query statement below
SELECT
    P.firstName,
    P.lastName,
    A.city,
    A.state
FROM
    Person AS P
LEFT JOIN
    Address AS A
ON
    P.personId = A.personId;

In [ ]:
#Second Highest Salary
SELECT
    (SELECT DISTINCT salary
     FROM Employee
     ORDER BY salary DESC
     LIMIT 1 OFFSET 1
    ) AS SecondHighestSalary;

In [ ]:
#List the Products Ordered in a Period
# Write your MySQL query statement below
SELECT
    P.product_name,
    SUM(O.unit) AS unit
FROM
    Orders AS O
JOIN
    Products AS P
ON
    O.product_id = P.product_id
WHERE
    O.order_date >= '2020-02-01' AND O.order_date < '2020-03-01'
GROUP BY
    P.product_name
HAVING
    SUM(O.unit) >= 100;

In [ ]:
#Replace Employee ID With The Unique Identifier
# Write your MySQL query statement below
SELECT
    EUNI.unique_id,
    E.name
FROM
    Employees AS E
LEFT JOIN
    EmployeeUNI AS EUNI
ON
    E.id = EUNI.id;

In [3]:
# Gameplay Analysis

In [4]:
#Project Employees I
# Write your MySQL query statement below
SELECT
    P.project_id,
    ROUND(AVG(E.experience_years), 2) AS average_years
FROM
    Project AS P
JOIN
    Employee AS E
ON
    P.employee_id = E.employee_id
GROUP BY
    P.project_id;

In [ ]:
# Department Top Three Salaries

# New section

In [5]:
import pandas as pd

data = {'actor_id': [1, 1, 1, 1, 1, 2, 2],
        'director_id': [1, 1, 1, 2, 2, 1, 1],
        'timestamp': [0, 1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)


collaboration_counts = df.groupby(['actor_id', 'director_id']).size().reset_index(name='collaboration_count')

result_df = collaboration_counts[collaboration_counts['collaboration_count'] >= 3]

final_output = result_df[['actor_id', 'director_id']]

print(final_output)

   actor_id  director_id
0         1            1

In [ ]:
def fix_names_pandas(users_df: pd.DataFrame) -> pd.DataFrame:
    """Fixes names to be Title Case and sorts by user_id."""

    users_df['name'] = users_df['name'].str.capitalize()

    result_df = users_df.sort_values(by='user_id')

    return result_df[['user_id', 'name']]

users_data = {'user_id': [1, 2], 'name': ['aLice', 'bOB']}
Users = pd.DataFrame(users_data)

In [6]:
def person_address_pandas(person_df: pd.DataFrame, address_df: pd.DataFrame) -> pd.DataFrame:

    merged_df = person_df.merge(
        address_df,
        on='personId',
        how='left'
    )

    result_df = merged_df[['firstName', 'lastName', 'city', 'state']]

    return result_df

person_data = {'personId': [1, 2], 'lastName': ['Wang', 'Zhao'], 'firstName': ['Qing', 'Shan']}
Person = pd.DataFrame(person_data)

address_data = {'addressId': [1, 2], 'personId': [1, 3], 'city': ['New York', 'LA'], 'state': ['NY', 'CA']}
Address = pd.DataFrame(address_data)

In [ ]:
import numpy as np

def second_highest_salary_pandas(df: pd.DataFrame) -> pd.DataFrame:

    unique_salaries = df['salary'].drop_duplicates().sort_values(ascending=False)

    if len(unique_salaries) < 2:
        second_highest = np.nan
    else:
        second_highest = unique_salaries.iloc[1]

    result_df = pd.DataFrame([second_highest], columns=['SecondHighestSalary'])

    return result_df

employee_data = {'id': [1, 2, 3], 'salary': [100, 200, 300]}
Employee = pd.DataFrame(employee_data)

In [ ]:
def product_sales_pandas(products_df: pd.DataFrame, orders_df: pd.DataFrame) -> pd.DataFrame:
    """Filters orders for Feb 2020, aggregates units, and filters for >= 100 units."""

    orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])

    feb_orders = orders_df[
        (orders_df['order_date'].dt.year == 2020) &
        (orders_df['order_date'].dt.month == 2)
    ]

    merged_df = feb_orders.merge(products_df, on='product_id', how='inner')

    grouped_df = merged_df.groupby('product_name')['unit'].sum().reset_index()

    result_df = grouped_df[grouped_df['unit'] >= 100]

    return result_df

products_data = {'product_id': [1, 2, 3, 4, 5], 'product_name': ['Leetcode Solutions', 'Jewels of Stringology', 'HP', 'Lenovo', 'Leetcode Kit'], 'product_category': ['Book', 'Book', 'Laptop', 'Laptop', 'T-shirt']}
Products = pd.DataFrame(products_data)

orders_data = {'product_id': [1, 1, 2, 3, 3, 4, 4, 4, 5, 5], 'order_date': ['2020-02-05', '2020-02-10', '2020-01-18', '2020-02-11', '2020-02-17', '2020-03-01', '2020-03-04', '2020-03-04', '2020-02-25', '2020-02-27'], 'unit': [60, 70, 30, 80, 2, 3, 20, 30, 50, 50]}
Orders = pd.DataFrame(orders_data)

In [ ]:
def employee_uni_pandas(employees_df: pd.DataFrame, employeeuni_df: pd.DataFrame) -> pd.DataFrame:
    """Performs a Left Join to get the unique_id for all employees."""
    merged_df = employees_df.merge(
        employeeuni_df,
        on='id',
        how='left'
    )

    result_df = merged_df[['unique_id', 'name']]

    return result_df

employees_data = {'id': [1, 7, 11, 90, 3], 'name': ['Alice', 'Bob', 'Meir', 'Winston', 'Jonathan']}
Employees = pd.DataFrame(employees_data)

employeeuni_data = {'id': [3, 11, 90], 'unique_id': [1, 2, 3]}
EmployeeUNI = pd.DataFrame(employeeuni_data)

In [ ]:
def project_employees_pandas(project_df: pd.DataFrame, employee_df: pd.DataFrame) -> pd.DataFrame:
    """Calculates the average experience years per project."""

    merged_df = project_df.merge(employee_df, on='employee_id', how='inner')

    grouped_df = merged_df.groupby('project_id')['experience_years'].mean().reset_index()

    grouped_df = grouped_df.rename(columns={'experience_years': 'average_years'})
    grouped_df['average_years'] = grouped_df['average_years'].round(2)

    return grouped_df

project_data = {'project_id': [1, 1, 1, 2, 2], 'employee_id': [1, 2, 3, 1, 4]}
Project = pd.DataFrame(project_data)

employee_data = {'employee_id': [1, 2, 3, 4], 'name': ['Khaled', 'Ali', 'John', 'Doe'], 'experience_years': [3, 2, 1, 2]}
Employee = pd.DataFrame(employee_data)